.apartment {
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
    color: var(--primary-1);
    
    .container-apartment-infos {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        h1 {
            font-size: 36px;
            line-height: 51px;
            font-weight: 500;
        }
        h3 {
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
        }
        .container-tags {
            margin: 1.5rem 0;
            .tag {
                margin-right: 10px;
                background-color: var(--primary-1);
                color: white;
                font-size: 14px;
                line-height: 20px;
                padding: 5px 28px;
                border-radius: 10px;
            }
        }
    }
    
    .host {
        display: flex;
        flex-direction: column;
        .infos-host {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            p {
                text-align: right;
                font-size: 18px;
                margin-right: 10px;
            }
            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
        }
        .stars {
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
            .star {
                margin-right: 5px;
                color: #E3E3E3;
                &.colorized {
                    color: var(--primary-1);
                }
            }
        }
    }
    .dropdown-container {
        display: flex;
        justify-content: space-between;
        .dropdown {
            width: 47.5%;
            margin-bottom: 1rem;
            .dropdown-title {
                width: 100%;
            }
            .dropdown-infos {
                display: flex;
                align-items: center;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 767px){
    .apartment {
        .container-apartment-infos {
            flex-direction: column;
            h1 {
                font-size: 22px;
                line-height: 2.5rem;
            }
            h3 {
                font-size: 1rem;
                line-height: 1.5rem;
            }
            .container-tags {
                margin-top: 1rem;
                .tag {
                    font-size: 12px ;
                }
            }
        }
        .host {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            .infos-host {
                p {
                    font-size: 1rem;
                }
                img {
                    width: 48px;
                    height: 48px;
                }
            }
            .stars {
                margin-top: 0;
                .star {
                    width: 22px;
                    height: 22px;
                }
            }
        }
        .dropdown-container {
            flex-direction: column;
            .dropdown {
                width: 100%;
                .dropdown-title {
                    width: 100%;
                }
                .dropdown-infos {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }
}